<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Bike List</h3>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Engine</th>
            <th>Year</th>
            <th>Torque</th>
            <th>Power</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bike:${bikelist}">
            <td th:text="${bike.make}"></td>
            <td th:text="${bike.model}"></td>
            <td th:text="${bike.engine}"></td>
            <td th:text="${bike.year}"></td>
            <td th:text="${bike.torque}"></td>
            <td th:text="${bike.power}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
